<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste devis</title>
    <link rel="stylesheet" th:href="@{/ressources/css/style.css}">
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="form-card">
            <div class="card-header">
                <h4>Liste des devis</h4>
            </div>
            <div class="card-body">

                <table border="1">
                    <tr>
                        <th>Id devis</th>
                        <th>Id demande</th>
                        <th>Date de creation</th>
                        <th>Type</th>
                        <th>Action</th>
                        <th>Decision</th>
                    </tr>

                    <tr th:each="dev : ${devis}">
                        <td th:text="${dev.getId_devis()}"></td>
                        <td th:text="${dev.getDemande().getId_demande()}"></td>
                        <td th:text="${dev.getDate_creation()}"></td>
                        <td th:text="${dev.getTypeDevis().getLibelle()}"></td>
                        <td><a th:href="@{/update-devis/{id_devis}(id_devis=${dev.getId_devis()})}">Modifier</a></td>
                        <td th:if="${dev.getTypeDevis().getLibelle() == 'Etude'}">
                            <a th:href="@{/accepter-devis/{id_devis}(id_devis=${dev.getId_devis()})}">Accepter</a> |
                            <a th:href="@{/refuser-devis/{id_devis}(id_devis=${dev.getId_devis()})}">Refuser</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>